#portfolio {
  background: #ebeeee;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}

#portfolio h1 {
  font: 15px/24px "opensans-semibold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95a3a3;
}

#portfolio a {
  color: #fff;
  text-decoration: none;
}

#portfolio a :hover {
  text-decoration: none;
}

#portfolio a :active {
  text-decoration: none;
}

.brazilBoutique-p {
  text-align: center;
  margin: 10px;
  font-size: 1.5rem;
}

.linkP {
  text-align: center;
  margin: 10px;
  font-size: 1.5rem;
}

.timeline {
  font-size: 1.1rem;
  margin: 0px;
}

.brBoutiqueLink {
  text-decoration: none !important;
  color: #95a3a3 !important;
}

.brBoutiqueLink :hover {
  text-decoration: none !important;
  color: #95a3a3 !important;
}

.brazilBoutique:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.brazilButton {
  background-color: #95a3a3;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.CRUDButton {
  background-color: #95a3a3;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 10px;
}
.PCBW-button {
  background-color: #95a3a3;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 10px;
  margin-bottom: 20px;
}
