#portfolio {
  background: #ebeeee;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}
#portfolio h1 {
  font: 15px/24px "opensans-semibold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95a3a3;
}

.brazilBoutique-p {
  text-align: center;
  margin: 10px;
}

.timeline {
  font-size: 1rem;
}

.brBoutiqueLink {
   text-decoration: none !important;
   color: #95a3a3 !important;
}

.brBoutiqueLink :hover {
   text-decoration: none !important;
   color: #95a3a3 !important;
}

.Tilt {
  display: block;
  width: 300px;
  height: auto;
  background-color: grey;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-size: 100%;
  background-repeat: no-repeat;
}

.brazilBoutique:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
