#resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

#resume a,
#resume a:visited {
  color: #0762f9;
}
#resume a:hover,
#resume a:focus {
  color: #313131;
}

#resume h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#resume h1 span {
  border-bottom: 3px solid #0762f9;
  padding-bottom: 6px;
}
#resume h3 {
  font: 25px/30px "opensans-bold", sans-serif;
}

#resume .header-col {
  padding-top: 9px;
}
#resume .main-col {
  padding-right: 10%;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
  display: inline;
}
#resume .info {
  font: 16px/24px "librebaskerville-italic", serif;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px "opensans-regular", sans-serif;
  margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
 /*----------------------------------------------*/

#languages {
  display: block;
}

.bars {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}
.bars .skills {
  margin-top: 36px;
  list-style: none;
}
.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #333;
  height: 42px;
  border-radius: 0px;
}

.bars li em {
  font: 15px "opensans-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -36px;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;

  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 0px;
}

.git {
  -moz-animation: git 2s ease;
  -webkit-animation: git 2s ease;
}
.illustrator {
  -moz-animation: illustrator 2s ease;
  -webkit-animation: illustrator 2s ease;
}
.python {
  width: 60%;
  background-color: rgb(235, 118, 45);
  -moz-animation: python 2s ease;
  -webkit-animation: python 2s ease;
}
.reactjs {
  width: 60%;
  background-color: rgb(11, 46, 99);
  -moz-animation: reactjs 2s ease;
  -webkit-animation: reactjs 2s ease;
}
.javascript {
  width: 80%;
  background-color: rgb(90, 168, 12);
  -moz-animation: javascript 2s ease;
  -webkit-animation: javascript 2s ease;
}
.css {
  width: 90%;
  background-color: rgb(118, 10, 151);
  -moz-animation: css 2s ease;
  -webkit-animation: css 2s ease;
}
.html {
  width: 90%;
  background-color: rgb(127, 215, 151);
  -moz-animation: html5 2s ease;
  -webkit-animation: html5 2s ease;
}
.mongodb {
  -moz-animation: mongodb 2s ease;
  -webkit-animation: mongodb 2s ease;
}

@-moz-keyframes git {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-moz-keyframes illustrator {
  0% {
    width: 0px;
  }
  100% {
    width: 55%;
  }
}
@-moz-keyframes python {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-moz-keyframes reactjs {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-moz-keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}

@-moz-keyframes mongodb {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@-moz-keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes python {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes reactjs {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes mongodb {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
