@import "./base/base.scss";
@import "./base/fonts.scss";
@import "./base/media-queries.scss";

@import "./layout/about.scss";
@import "./layout/contact.scss";
@import "./layout/footer.scss";
@import "./layout/header.scss";
@import "./layout/portfolio.scss";
@import "./layout/resume.scss";
@import "./layout/skills.scss";
@import "./layout/navigation.scss";
@import "./layout/certificates.scss";

h1 span {
  border-bottom: 3px solid #daa520;
  padding-bottom: 6px;
}

h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sectionHeader {
  text-align: center;
  margin-bottom: 30px;
}
